/* 扩展动画 */
.scale-up-center {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/* 点击反馈 */
.clickFeedback {
	transition: 0.1s ease !important;
	transform: scale(1, 1) !important;
}

.clickFeedback:active {
	transform: scale(0.9, 0.9) !important;
}

/* 向上扩展动画 */
.scale-up-ver-bottom {
	-webkit-animation: scale-up-ver-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	        animation: scale-up-ver-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}

@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
